.ProjectHighlight {
    color: var(--dark-blue);
    display: flex;
    width: 100%;
    padding-top: 5vh;
    font-family: roboto;
    padding-bottom: 0vh;
    border-radius: 15px;
    padding-left: 0;
    padding-bottom: 0;
}
.ProjectHighlight--Text--Div {
    max-width: 50%;
}
.ProjectHighlight--PreTitleDiv {
    color: var(--deep-text-blue);
}
.ProjectHighlight--TitleDiv {
    font-size: 20px;
}
.ProjectHighlight--TitleDiv h1 {
    font-weight: 900;
    font-style: italic;
}
.ProjectHighlight--TextAreaDiv {
    box-shadow: 0 10px 30px -15px var(--navy-shadow);
    position: relative;
    z-index: 10;
    padding: 25px;
    border-radius: 10px;
    background-color: var(--deep-text-blue);
    color: var(--light-blue);
    font-size: 16px;
    box-shadow: 2px 2px 5px black;
}
.ProjectHighlight--ShowcaseLangDiv {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    margin: 25px 0px 10px;
    padding: 0px;
    list-style: none;
    gap: 20px;
    color: var(--dark-blue);
    padding-left: 20px;
}
.ProjectHighlight--ShowcaseLangDiv p {
    text-align: left;
    word-spacing: 10px;
}

.ProjectHighlight--Image--Div {
    height: 36vh;
    max-width: 70%;
    position: absolute;
    right: 26vw;
    min-width: 30%;
}
.ProjectHighlight--Image--Div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform 100ms;
    border-radius: 15px;
    filter: grayscale(100);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 2px 2px 5px black;
}
.ProjectHighlight--Image--Div img:hover {
    filter: none;
    transform: scale(1.02);
}
.ProjectHighlight--GitHub {
    height: 1em;
    width: 1em;
    padding-left: 20px;
    z-index: 100;
    fill: var(--deep-text-blue);
}
.ProjectHighlight--GitHub:hover {
    fill: var(--light-blue);
}
.ProjectHighlight--Link:hover {
    fill: var(--light-blue);
}

a {
    z-index: 100;
}
.ProjectHighlight--Link {
    height: 1em;
    width: 1em;
    fill: var(--deep-text-blue);
    z-index: 100;
}
.ProjectHighlight--Reverse {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    margin-top: 5vh;
    color: var(--dark-blue);
}
.ProjectHighlight--Reverse img {
    right: 17vw;
}
.ProjectHighlight--Reverse--ShowcaseLangDiv {
    color: var(--dark-blue);
    word-spacing: 10px;
    text-align: right;
}
@media (max-width: 1100px) {
    .ProjectHighlight--Image--Div {
        display: none;
    }
    .ProjectHighlight--Text--Div {
        max-width: 100%;
    }
}
