#Header {
    padding-top: 1vh;
    padding-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 1px 5px #000000;
    max-height: 6vh;
    color: #ffffff;
    text-decoration: none;
    font-size: 2vh;
    max-width: 100%;
}
#Header-Logo {
    font-size: 5vh;
    font-family: 'Dancing Script', cursive;
    padding-left: 2vw;
    color: #ffffff;
    text-shadow: 3px 3px 5px #000000;
    cursor: pointer;
    transition: font-size 0.5s ease-in-out;
}
#Header-Logo:hover {
    font-size: 5.5vh;
}
#Header-SectionsDiv {
    display: flex;
    gap: 3vw;
    padding-right: 2vw;
    justify-content: center;
    align-items: center;
}
#Header-About {
}
#Header-Projects {
}
#Header-Contact {
}
#Header a {
    text-decoration: none;
    color: white;
}
#Header-Resume button {
    padding: 0.6em 1em 0.6em 1em;
    border-radius: 1em;
    border: solid 3px;
    border-color: #1b2531;
    background: transparent;
    text-decoration: none;
    font-family: roboto;
    color: white;
    text-decoration: none;
    font-size: 2vh;
}
#Header-Resume button:hover {
    cursor: pointer;
}
