#About {
    color: white;
    display: flex;
    width: 100%;
    margin-top: 20vh;
}

#About--Image--Div {
    width: 50%;
    object-fit: contain;
    margin: 0% 5% 5% 0%;
    max-height: 50vh;
}
#About--Image {
    object-fit: contain;
    width: 100%;
    border-radius: 30px 10px 30px 10px;
}
#About--Text--Div {
    padding-top: 10%;
}
