#About {
    color: var(--deep-text-blue);
    display: flex;
    width: 100%;
    margin-top: 20vh;
    justify-content: space-between;
    font-family: roboto;
}

#About--Image--Div {
    width: 200%;
    object-fit: contain;
    margin: 0% 0% 5% 5%;
    padding-top: 12%;
}
#About--Image {
    object-fit: contain;
    width: 100%;
    border-radius: 30px 10px 30px 10px;
    box-shadow: 5px 5px 5px black;
}
#About--Text--Div {
    padding-top: 10%;
}
#About--Title {
    font-size: 5.5vh;
    color: var(--dark-blue);
}
#About--Text {
    font-size: 2vh;
}
